.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar a {
    padding-left: 20px;
}
  

#banner {
    background-color: #FBD1A2;
    padding: 0;
    margin: 0;
}

#name {
    text-align: center;
    color: #1D4E89;
    margin-bottom: 0;
}

#name:hover {
    color: #00B2CA;
}

#title {
    text-align: center;
    color: #00B2CA;
}

#title:hover {
    color: #1D4E89;
}

#tagline {
    text-align: center;
    color: #1D4E89;
}

#profilepic {
    padding: 0;
}

#lowerspan {
    padding: 0;
    margin: 0;
    color: #F79256;
    background-color: #1D4E89;
    text-align: center;
}

#lowerspan h2 {
    padding-top: 25px;
}

#lowerspan ul {  
    list-style-type: none;
    padding: 0; 
} 

#lowerspan li {
    padding: 1px;
    border: solid 2px #1D4E89;
    border-radius: 5px;
    color: #1D4E89;
    background-color: #FBD1A2;
    font-weight: bold;
}

#randomAdvice {
    text-align: center;
    background-color: #7DCFB6;
    margin-bottom: fill;
    padding: auto;
}

#randomAdvice h3 {
    color:#1D4E89;
}

#randomAdvice p {
    color:#1D4E89;
    font-weight: bold;
}